<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultimedijskiPredvajalnik.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MultimedijskiPredvajalnik.Properties.Settings>
            <setting name="Zvrsti" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Unknown</string>
                        <string>Komedija</string>
                        <string>Tragedija</string>
                        <string>Horror</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TimeSetting" serializeAs="String">
                <value>1 Minute</value>
            </setting>
            <setting name="AutosaveOnOff" serializeAs="String">
                <value>True</value>
            </setting>
        </MultimedijskiPredvajalnik.Properties.Settings>
    </userSettings>
</configuration>